<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="assets/Images/code.jfif"
        alt="..."
      />
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">A simple Bootstrap Demo Website</h1>
      <p>
        This is a simple website that I created using Angular with a Bootstrap
        Theme. It's a single page website that is mobile friendly. It's a great
        way to get started with Angular and Bootstrap.
      </p>
      <a class="btn btn-primary" href="https://journeymanjourneys.com"
        >My main website</a
      >
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="font-size: xx-large;">
        To maintain the status quo simply means you're not growing.
      </p>
    </div>
  </div>
</div>
