<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Udemy Courses</h2>
        <p class="card-text">
          Udemy is a platform that allows instructors to build online courses on
          their preferred topics. Using Udemy's course development
          tools,instructors can upload videos, source code for developers,
          PowerPoint presentations, PDFs, audio, ZIP files and any other content
          that learners might find helpful.
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="https://www.udemy.com/"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">LinkedIn</h2>
        <p class="card-text">
          It is the World’s largest social media (Professional) network where
          you can find Work, jobs, remote work, can sell your skills. It is a
          platform for professional communication so here employers can find the
          right candidate and the company can connect with the new and old
          employees to inform new products and services.
        </p>
      </div>
      <div class="card-footer">
        <a
          class="btn btn-primary btn-sm"
          href="https://linkedin.com/in/gazaliahmad"
          >I'm on LinkedIn</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">GitHub</h2>
        <p class="card-text">
          GitHub is a website and service that we hear geeks rave about all the
          time, yet a lot of people don't really understand what it does. It is
          a Git repository hosting service that provides a web-based graphical
          interface. It is the world's largest coding community.
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="https://github.com/gazaliahmad"
          >Git there</a
        >
      </div>
    </div>
  </div>
</div>
